// ----- Fonts -----
$main-font: "Roboto", sans-serif;
$highlight-font: "Roboto Slab", serif;

// ----- sizes -----
$xl: 60px;
$lrg: 55px;
$medium: 45px;
$text: 28px;
$small: 25px;
$xs: 20px;
$s-active: 25px;
$xs-active: 20px;

// ----- Colours -----
$primary: #4AA71F;
$dark: #444444;
$light: #f3f3f3;
$background: #C4C4C4;
$white: #ffffff;

// Portfolio
$card-size: 280px;
$card-size-m: 250px;

// Screen Size
$screen: 1366px;

// Breakpoints
$bp_desktop: "(min-width: 1025px)";
$bp_laptop: "(max-width: 1024px)";
$bp_tablet: "(max-width: 850px)";
$bp_mobile: "(max-width: 450px)";
$bp_xs: "(max-width: 350px)";


// ----- Mixins -----

@mixin icon-size {
    width: 65px;
    height: 65px;
    background-size: contain;
}

@mixin nav-select {
    font-family: $highlight-font;
    color: $primary;
    font-size: $s-active;
}

@mixin inactive {
    color: $background;
    pointer-events: none;
    opacity: 0.3;
} 